<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cursos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
    <h1>Cadastro de Cursos</h1>
    <form th:action="@{/cursos/salvar}" method="post" th:object="${curso}">

        <input type="hidden" th:field="*{idCurso}">

        <label>Nome:</label> 
        <input type="text" th:field="*{nomeCurso}">
        <br />
        <label>Período:</label> 
        <input type="text" th:field="*{periodoCurso}">
        <br />
        <label>Carga Horária:</label> 
        <input type="number" th:field="*{carga_horariaCurso}">
        <br />
    
        <input type="submit" value="Salvar">
    </form>
    <div class="page-actions">
        <a class="btn-link secondary" href="/">Voltar à página inicial</a>
    </div>
</body>
</html>