<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cursos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
    <h1>Lista de Cursos</h1>
    <div class="page-actions">
        <a class="btn-link" href="/cursos/criar">Criar novo curso</a>
        <a class="btn-link secondary" href="/">Voltar à página inicial</a>
    </div>
    <table>
     <tr>
        <th>Nome</th>
        <th>Período</th>
        <th>Carga Horária</th>
        <th colspan="2">Ações</th>
    </tr>
    <tr th:each="curso : ${cursos}">
        <td th:text="${curso.nomeCurso}">*</td>
        <td th:text="${curso.periodoCurso}">*</td>
        <td th:text="${curso.carga_horariaCurso}">*</td>
        <td>
            <a th:href="@{/cursos/editar/{id}(id=${curso.idCurso})}">Editar</a>
            <a th:href="@{/cursos/excluir/{id}(id=${curso.idCurso})}">Excluir</a>
        </td>
    </tr>
    </table>
</body>
</html>