<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Produtos</title>
</head>
<body>
    <h1 style="text-align: center;">Cadastro de Produtos</h1>
    <form th:action="@{/produtos/salvar}" method="post" th:object="${produto}">
        <input type="hidden" name="idProduto" th:field="*{idProduto}">

        <label for="descricaoProduto">Descrição do Produto</label>
        <input type="text" id="descricaoProduto" name="descricaoProduto">
        <br /> <br>

        <label for="valorProduto">Valor do Produto</label>
        <input type="text" id="valorProduto" name="valorProduto">
        <br /> <br>

        <label for="unidadeProduto">Unidade</label>
        <input type="text" id="unidadeProduto" name="unidadeProduto">
        <br /> <br>

        <label for="marcaProduto">Marca do Produto</label>
        <input type="text" id="marcaProduto" name="marcaProduto">
        <br /> <br>

        <input type="submit" value="Salvar Produto" />

    </form>

</body>
</html>