<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Produto</title>
</head>
<body>
    <h1 style="text-align: center;">Lista de Produto</h1>
    <h2 style="text-align: center;">
        <a th:href="@{/produtos/criar}">Cadastrar Novo Produto</a>
    </h2>
    <table>
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Unidade</th>
                <th>Marca</th>
                <th colspan="2">Ações</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.descricaoProduto}"></td>
                <td th:text="${produto.valorProduto}"></td>
                <td th:text="${produto.unidadeProduto}"></td>
                <td th:text="${produto.marcaProduto}"></td>
                <td><a th:href="@{/produtos/editar/{id}(id=${produto.idProduto})}">Editar</a></td>
                <td><a th:href="@{/produtos/excluir/{id}(id=${produto.idProduto})}" onclick="return confirm('Tem certeza que deseja excluir este produto?')">Excluir</a></td>
            </tr>
        </tbody>
    </table>

</body>
</html>